<form>
    <label>username</label>
    <input type="text"/>
    <label>email</label>
    <input type="email" />
    <label>password</label>
    <input type="password" />
    <button type="submit">Login</button>
    <button>Sign-Up</button>
</form>