<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blog</title>
		<link rel="stylesheet" href="/styles/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		{{{ body }}}
        <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>