<!DOCTYPE html>
<html lang="en">

<head>
	<title>Blog</title>
	<link rel="stylesheet" href="/css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="navbar">
		<a href="/main">Home</a>
		<a href="/main">Dashboard</a>
		<a>Log-in</a>
	</div>
	<div id="modal" class="hidden">
		<!--signup needs to be defined somehow-->
		<form>
			{{#if signup}}
			<label>username</label>
			<input type="text" />
			{{/if}}
			<label>email</label>
			<input type="email" />
			<label>password</label>
			<input type="password" />
			<button type="submit">Login</button>
			{{#unless singup}}
			<button>Sign-Up</button>
			{{/unless}}
		</form>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/index.js"></script>
	{{{ body }}}
</body>

</html>