<div class="card">
   <header>
   <h2>{{tite}}</h2>
   <!--returns a userid will have to make second call or do a join to get username-->
   <p>{{username}}</p>
   </header> 
    <p>{{description}}</p>
    <p>{{createdAt}}</p>
    <form>
        <input type="text"/>
        <button>Add Comment</button>
    </form>
</div>