<div class="card">
    <header>
        <h2>{{title}}</h2>
        <!--returns a userid will have to make second call or do a join to get username-->
        <p>{{username}}</p>
    </header>
    <p>{{description}}</p>
    <p>{{createdAt}}</p>

    {{#each comments}}
        {{> comment}}
    {{/each}}
    <form>
        <input type="text" {{#unless loggedin }} disabled{{/unless}}/>
        <button>Add Comment</button>
    </form>
    {{#if loggedin}}<button>Edit</button>{{/if}}
    <!--will need to make this form display none until button clicked -->
    {{> mutate-post-form edit=true}}
</div>